# =========================
# Docker Images & Archives
# =========================
0-docker-images/
aic8800dc-main/
1-docker-containers/registry/data/
1-docker-containers/filebrowser/

*.env*

*.zip
*.tar
*.tar.gz

# cat ~/.git-credentials